

#ImagenLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Index{
    text-align: center;
    margin-top: 0;
    justify-content: space-between;
}
.flex-container{
    display: flex;
    background-color: #ed070b;
    padding: 10px;
    border: 2px #01050d;
}
.flex-container div{
    margin: 5px;
    color: #01050d;
    flex-basis: 100%;
    text-align: center;
}
@media (max-width: 600px){
    .flex-container{
        flex-direction: column;}
}
.imagenes{
    justify-content: space-between;
    display: flex;
    text-align: center;
    margin: 10px;  
}
#Mensaje{
    text-align: center;
}
#Productos{
    text-align: center;
}

/*BRANCH DE MENU DE FILTROS*/

.categorias{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.categories-details{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    width: 18vw;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 1vh 4vh;
}

.categories-details summary{
    font-weight: 700;

}

.categories-details--interno{
    font-size: 22px;
}

.categories-details--interno:nth-child(2){
    margin-top: 1vh;
}


.categories-details--interno:nth-child(4){
    margin-bottom: 2vh;
}


.categories-details--interno summary{
    border: solid 2px rgb(255, 255, 255);
border-radius: 5px;
background-color: rgb(0, 0, 0);
}

details ul{
    font-size: 20px;
    padding: 1vh 2vw;
}

details ul li{
    margin-bottom: 20px;
}
 details ul li label{
    cursor: pointer;
 }

 .categories-details--interno summary{
     cursor: pointer;
     list-style: none;
     padding: 0.5vh;
     padding-left: 1vw;
     margin-top: 10px;
 }
 .categories-details--interno h6{
    font-size: 20px;
 }
 .precio{
     display: flex;
     list-style: none;
     justify-content: center;
 }

 .precio input {
     padding: 10px;
     border: 1px solid black;
     border-radius: 3px;
 }



 details h6{
text-align: center;
}
